@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova-l';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova-b';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.woff') format('woff');
}

body{
  margin: 0 auto;
  background-color: #f1f1f1;
}

#wrap{
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}

.cd-logo{
  font-family: 'ProximaNova';
  letter-spacing: 4px;
  font-weight: lighter;
  font-size: 13px;
  color: #000;
}

.cd-nav a{
  color: #000;
  letter-spacing: 2px;
}

.cd-nav-list{
  float: right;
  font-family: 'ProximaNova-b';
  font-size: 11px;
}

.categories{
  margin-top: 100px;
}

#footer{
  bottom: 0;
}

.footer{
  height: 120px;
  margin-top: 100px;
  bottom: 0;
  color: #2e2e2e;
  letter-spacing: 2px;
  font-family: 'ProximaNova';
}

.left{
  background-color: #fff;
  height: 100%;
}

.right{
  background-color: #cecece;
  height: 100%;
}

.right p{
  margin-top: 55px;
  font-size: 16px;
}

.right a{
  text-decoration: none;
  color: inherit;
  -webkit-transition: color ease 0.1s;
  -moz-transition: color ease 0.1s;
  transition: color ease 0.1s;
}

.right a:hover{
  color: #f36f20;
}

.contact-footer{
  margin-top: 55px;
  list-style-type: none;
  font-size: 11px;
}

li{
  display: inline;
  margin-left: 30px;
}
